body{
	background: rgba(220, 220, 220, 1);
	font-family: 'Open Sans' sans-serif;
}

body p{
	font-family: redressed;
	font-weight: 100;
	font-size: 18px;
}

body h5{
	font-family: redressed;
	font-weight: 100;
	font-size: 22px;	
}

@font-face{
	font-family: 'east-sea';
	src: url(../fonts/EastSeaDokdo-Regular.ttf);
	font-style: normal;
	font-weight: 100;
}

@font-face{
	font-family: 'hanalei';
	src: url(../fonts/HanaleiFill-Regular.ttf);
	font-style: normal;
	font-weight: 100;
}

@font-face{
	font-family: 'redressed';
	src: url(../fonts/Redressed-Regular.ttf);
	font-style: normal;
	font-weight: 100;
}

.myP p{
	font-family: east-sea;
	font-weight: 100;
	font-size: 28px;
}
.my-navbar-container{
	color: rgba(230, 230, 230, .9) !important;
}

.my-navbar{
	height: 100%;
	float: left;
}

.my-col .img{
	height: 76% !important;
	width: 30% !important;
	padding: 0 !important;
}

#twt{
	margin-bottom: 5%;
}

.my-navbar img{
	height: 60px;
	margin-left: 1%;
	background-image: url(../Images/Brand5.png);
}

.my-navbar-container a{
	color: black;
	font-family: east-sea;
	font-size: 28px;
}

.footer img{
	height: 40px;
}

.myRow{
	margin: 1% 0% 0% 0%;
}

.myRow h4{
	font-size: 17px;
}

.myRow h4:hover{
	font-size: 17.5px;
	color: #606060;
}
#tweet{
	height: 70% !important;
	width: 30% !important;
	padding: 0 !important
}

#brandName{
	margin-top: 1%;
	font-family: east-sea;
	font-weight: 100;
	font-size: 34px;
}

#brandName:hover{
	color: grey;
	font-size: 30.5px;
}

.my-navbar-container a:hover{
	color: grey;
	font-size: 24px;
}

.my-container{
	float: left;
}
.my-container a{
	text-decoration: none;
	color: rgba(200, 200, 200, .8);
}

.my-container img{
	height: 160px;
	width: 100%;
}

.my-container .card{
	background: rgba(10, 10, 10, .9);
	color: rgba(70, 70, 70, .8);
	margin: 3%;
	border-radius: 1%;
}

.icon{
	color: #101010;
}

.hrLine{
	border:solid;
	border-width: 1px;
	margin: 0% 1% 0% 1% ;
}

#twitterIcon:hover{
	color: #15f
}

#instagramIcon:hover{
	color: #555
}

#youtubeIcon:hover{
	color: #f11
}

#facebookIcon:hover{
	color: #11c
}

.copyright{
	margin-top: 1%;
	font-size: 14px;
}

.yt{
	font-family: hanalei;
	font-style: normal;
	font-weight: 100;
}

.tw{
	font-family: hanalei;
	font-style: normal;
	font-weight: 100;
}

.ig{
	font-family: hanalei;
	font-style: normal;
	font-weight: 100;
}

.fb{
	font-family: hanalei;
	font-style: normal;
	font-weight: 100;
}

footer .copyright{
	margin-bottom: 1%;
}
