body{
	background: rgba(240, 240, 240, 1);
}

.my-navbar-container{
	color: rgba(230, 230, 230, .9) !important;
}

.my-navbar{
	height: 100%;
	max-width: 40%;
	float: left;
}

.my-navbar img{
	height: 60px;
}

.my-navbar a{
	color: black;
}

.my-navbar a:hover{
	color: grey;
}

.my-container{
	float: left;
}
.my-container a{
	text-decoration: none;
	color: rgba(200, 200, 200, .8);
}

.my-container img{
	height: 200px;
}

.my-container .card{
	background: rgba(10, 10, 10, .9);
	color: rgba(70, 70, 70, .8);
	margin: 3%;
	border-radius: 1%;
}